@import "./partials/variables";
@import "./partials/layout";
@import "./partials/_fonts";

* {
    padding: 0px;
    margin: 0px;
}


body {
    background-color: black;
    background-image: url(../../Assets/background_image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1rem;
}

.homeLogo {
    width: 4.5rem;
    border-radius: 50%;
}

.bandLive {
    grid-area: bandLive;
}

.bandmate1 {
    grid-area: bandmate1;
}

.bandmate2 {
    grid-area: bandmate2;
}

.bandmate3 {
    grid-area: bandmate3;
}

.bandmate4 {
    grid-area: bandmate4;
}

.bioImage {
    padding-top: 2rem;
    width: 60%;
    margin: auto;
    min-width: 300px;
}

.wtext {
    grid-area: wtext;
    justify-self: center;
    align-self: center;
}

.video1 {
    grid-area: video1;
    align-self: center;
    justify-self: center;

}

.video2 {
    grid-area: video2;
    align-self: center;
    justify-self: center;
}

.player {
    grid-area: player;
    margin-bottom: .5rem;
    width:95%;
    justify-self: center;
}

.footLogo {
    width: 3%;
    margin-left: 20px;
}

.uList {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0rem;
    li{
        font-size:1rem;
        padding:2rem;
    }
}

.option {
    border-width: 2px;
    border-style: solid;
    border-color: beige;
    justify-self: center;
    padding: 1em;
    background-color: black;
    @media (min-width: 481px){
    &:hover{
        transform: translateX(30px);
        transition-duration: .5s;
    }
    }
}

.cards{
    border: 4px double #890972;
    background-color: rgba(148, 0, 211, 0.219);
    background-image: linear-gradient(to top, map-get($map: $colors, $key: venusPurple), map-get($map: $colors, $key: venusDarkPurple)) ;
    text-align: center;
    overflow: auto;
    @include size (80%, 29rem);
    /*width: 80%;
    height: 29rem;*/
    align-content: center;
    justify-content: center;
    
    img {
        width: 40%;
        align-self: center;
    }
}

/*Utilice un Extend para cambiar la direccion del gradiente*/
.cardsMerch{
    @extend .cards;
    background-image: linear-gradient(to bottom, map-get($map: $colors, $key: venusPurple), map-get($map: $colors, $key: venusDarkPurple)) ;  
    img{
        width:40%;
        min-width: 200px;
    }
}

.cardsBio{
    @extend .cards;
    img{ 
        width: 50%;
        min-width: 150px;
    }
}

a {
    display:contents;
    color: inherit;
    text-decoration: inherit;
}

.eventDetails {
    display: flex;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.411);
    justify-content: space-between;
    margin-top: .9rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

form {
    border: 4px double #890972;
    color: azure;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.411);
    margin: 0 auto;

}

@media screen and (max-width: 480px) {

    .uList {
        list-style-type: none;
        /*height: 100%;*/
        display: flex;
        flex-direction: row;
    }
    
}
/*Animaciones variadas*/

@media screen and (min-width: 481px) {
    
.zoom:hover{
    transform: scale(2) translateY(50px);
}
}